:root {
  --primary: #64CBD0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 1rem;
  //min-height: 80%;
}

nav {
  img {
    max-width: 10rem;
  }

  .nav-link {
    font-weight: bold;
    padding: 1rem;

    @media (min-width: 768px) {
      margin: 0 .5rem;
    }

    &:hover,
    &:focus {
      transition: background-color linear .75s;
      background-color: var(--primary);
      color: white;
    }
  }
}

main {
  margin: 6rem 0 3rem 0;

  @media (min-width: 768px) {
    margin: 8rem 0 4rem 0;
  }

  .container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (min-width: 540px) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .nav-link {
      &:hover,
      &:focus {
        text-decoration-line: underline;
        text-decoration-color: var(--primary);
        text-decoration-thickness: 3px;
      }
    }
  }
}
