:root {
  --secondary: #538177;
  --tertiary: #123e50;
  --white: #fff;
  --spacingBase: 1rem;
}

html {
  scroll-padding-top: 8rem;
}

h1 {
  line-height: 1;
}

main .container {
  padding: 2rem 0;
}

.frame {
  background-color: var(--tertiary);
  top: 1.25rem;

  &::before,
  &::after {
    display: none;
    content: "";
    position: absolute;
  }

  &::before {
    transform: skew(3deg, -1deg);
    background-color: var(--secondary);
    width: 85%;
    height: calc(95% - 50px);
    top: 0.5rem;
    left: 1.5rem;
    
    @media (min-width: 540px) {
      width: 95%;
    }
    
    @media (min-width: 768px) {
      display: block;
      transform: skew(2deg, -1deg);
      height: calc(90% - 50px);
      width: 85%;
      top: -.5rem;
      left: 2rem;
    }
  }

  &::after {
    transform: skew(-2deg);
    background-color: var(--tertiary);
    top: 1rem;
    height: calc(90% - 50px);
    width: 85%;
    left: 1rem;

    @media (min-width: 540px) {
      width: 95%;
    }

    @media (min-width: 768px) {
      transform: skew(-4deg);
      height: calc(85% - 50px);
      display: block;
      width: 90%;
      top: 0;
      left: 2rem;
    }
  }

  .frame-content {
    color: white;
    z-index: 1;
    position: relative;
    padding-inline: 1rem;
    
    @media (min-width: 768px) {
      padding: 2.5rem 5rem 6rem 5rem;
    }
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px;
  border-radius: 1rem;
}

.heroWithImage {
  position: relative;
  text-align: center;
  color: white;

  img {
    max-height: 300px;
    object-fit: cover;
  }

  /* Bottom left text */
  h1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
}

.page-navigation {
  margin-top: var(--spacingBase);
}

.page-navigation__number {
  margin-bottom: 0;
  color: white;
}
