:root {
  --secondary: #538177;
  --tertiary: #123e50;

  --secondary20Brighter: #6ea296;
  --tertiary20Brighter: #217293;

  --secondary50Brighter: #a4c5be;
  --tertiary50Brighter: #57b3d9;
}

.row {
  text-align: center;
  justify-content: center;

  .intro-video {
    height: 315px;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  h1, .question {
    font-weight: bold;
    margin-bottom: 2rem;
  }

}

svg {
  font-size: 2.5rem;
  padding: .25rem;

  &.thumbs-up {
    color: var(--tertiary20Brighter);

  }

  &.thumbs-down {
    color: var(--secondary20Brighter);

  }
}

.btn {
  &:hover,
  &:focus {
    background-color: white;

    svg {
      transform: scale(1.5);

      filter: brightness(1.5);
      transition: transform ease-in-out .25s;
    }
  }
}

.squashToRow {
  @media (max-width: 990px) {
    text-align: center;
    justify-content: center;
    flex: unset;
    padding-bottom: 50px;

  }
}