:root {
  --agree-vote: darkgoldenrod;
  --disagree-vote:blue;
}
.row {
  text-align: center;
  justify-content: center;

  .intro-video {
    height: 315px;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  h1, .question {
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
}


svg {
  font-size: 3rem;
  padding: .25rem;

  &.thumbs-up {   
    color: var(--agree-vote);
  }
 
  &.thumbs-down {
    
    color: var(--disagree-vote);
  }
}

.btn {
  &:hover,
  &:focus {
    background-color: white;

    svg {
      transform: scale(1.5);
      transition: transform ease-in-out .25s;
    }
  }
}

.vote-count {
  background-color: white;
  padding: .5rem;
  border-radius: 1rem;
  margin: 1rem;

  &.voted-this {
    border: yellow 3px ;
    border-style: dashed;
  }
  &.voted-other {
    opacity: 0.6;
    cursor: pointer;
  }

  span {
    display: block;
    font-weight: bold;
    font-size: 2rem;

    &.yes {
      color: var(--agree-vote);
    }
    

    &.no {
      color: var(--disagree-votes);
    }
    
  }
}
