:root {
  --secondary: #538177;
  --tertiary: #123e50;

  --secondary20Brighter: #6ea296;
  --tertiary20Brighter: #217293;

  --secondary50Brighter: #a4c5be;
  --tertiary50Brighter: #57b3d9;
}

.voteControlRow {
  display: flex;
  gap: 1rem;
}

.vote-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.row {
  text-align: center;
  justify-content: center;

  .intro-video {
    height: 315px;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  h1,
  .question {
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.voteCol {
  width: 120px;
}

.voteCol p {    
  font-size: 0.9rem !important;
  line-height: 1.2;
  margin-top: 10px;
}

svg {
  font-size: 2.5rem;
  padding: .25rem;

  &.thumbs-up {
    color: var(--tertiary20Brighter);
  }

  &.thumbs-down {
    color: var(--secondary20Brighter);
  }
}

.btn {
  background-color: var(--tertiary);
  color: var(--white);

  &:hover,
  &:focus {
    background-color: var(--tertiary50Brighter);
    color: var(--tertiary)
  }
}

.flexGrow {
    flex-grow: 2;
}

.spaceEven {
  align-content: center;
  margin-right: 5%;
  justify-content: space-between;
  display: flex;
}

.pad50 {
    padding: 50px;
}

.squashToRow50 {
  @media (max-width: 990px) {
    padding-bottom: 50px;
  }
}

.squashToRow {
  @media (max-width: 990px) {
    text-align: center;
    justify-content: center;
    flex: unset;
  }

  .small {
    height: 0;
    padding:0;
  }
}

.questionTitle {
  text-align: left;
}

.ignore-container {
  width: 100%;
  height: 100%; 
  position: fixed;
}
