.overlay-share-buttons {
  padding-bottom: 5px;
  margin: 0 5px;
  border-bottom: 1px solid #ccc;
}

.share {
  margin-top: 2rem;
  transition: transform ease-in-out 0.5s;

  .video {
    height: 315px;
    width: 70%;
  }

  h2 {
    font-weight: bold;
    letter-spacing: .25rem;
    font-size: 1.25rem;
  }
  
  .voted {
    text-decoration: underline red;
    transform: scale(1.1);
  }

  .share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    a {
      &:hover,
      &:focus {
        transform: scale(1.25);
        transition: transform ease-in-out .25s;
      }
    }
  }
}

#share-heading {
    font-size: 3.0rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.voted {
  font-size: 1.4rem !important;
}

.sharing-icons__top {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  margin-block: 1rem;

  a {
    color: #fff;
    
    &:hover,
    &:focus {
      transform: scale(1.25);
      transition: transform ease-in-out .25s;
    }
  }
}

.sharing-icons__subheading {
  margin-block: 1rem;
}
