.overlay-share-buttons
{

  padding-bottom: 5px;
  margin: 0 5px;
  border-bottom: 1px solid #ccc;

}


@media (min-width: 970px) {
  .auto-hide {
    visibility: hidden;
    display: none;
  }
}
.share {
  margin-top: 2rem;

 

  .video {
    height: 315px;
    width: 70%;


  }

  h2 {
    font-weight: bold;

    letter-spacing: .25rem;
    font-size: 1.25rem;
  }


  
  
  .share-row
  {
    
  }
  
  .voted {
    /*color: red;*/
    text-decoration: underline red;
    transform: scale(1.1);
  }

  transition: transform ease-in-out 0.5s;

  .share-buttons
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;


    a {
      &:hover,
      &:focus {
        transform: scale(1.25);
        transition: transform ease-in-out .25s;
      }
    }
  }
}

#share-heading
{
    font-size: 3.0rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.voted
{

  font-size: 1.4rem !important;
}

