.share {
  margin-top: 2rem;

  @media (min-width: 768px) {
    margin-top: unset;
  }

  .video {
    height: 315px;
    width: 70%;

   /* &:hover,
    &:focus {
      transform: scale(1.20);
     
    }
    transition: transform ease-in-out .25s;*/
  }

  h2 {
    font-weight: bold;
    
    letter-spacing: .25rem;
    font-size: 1.25rem;
  }
  .voted
  {
    /*color: red;*/
    text-decoration: underline red;
    transform: scale(1.1);
  }
  transition: transform ease-in-out 0.5s;

  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    @media (min-width: 540px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      &:hover,
      &:focus {
        transform: scale(1.25);
        transition: transform ease-in-out .25s;
      }
    }
  }
}
