

.current-reference {
  /* Your current styles for the active item */
  background-color: lightblue; /* Example: highlight the active item */
  //transition: all 3s ease-in-out;
 // transition: background-color 0.5s ease, width 0.5s ease, left 0.5s ease; /* Animate background color */
  
  
  //width: 100%;
  //left:0px;
  //top:20px;

}
.other-reference {
  /* Your current styles for the active item */
  background-color: snow;
 

  //width: 25%;
  //left:50%;
 // top:100px;
  // transition: background-color 0.5s ease, width 0.5s ease, left 0.5s ease; /* Animate background color */
 

}


.reference-column-item {
 

}

.list-group-item-text {
  

 // transition: all 0.15s ease-in-out;
  transform-origin: top left;
}

.list-group-item-text:hover {
  background-color: lightgray;
}


.list-group-item-text { /* Or any other suitable selector */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent text from wrapping */
  width: 100%; /* needed if the element doesn't have a defined width already */
  text-align: left;

}


/* animations */
/* Default transition styles */
.current-reference,
.list-group-item-text {
  position: absolute;
  transition: all 0.8s ease;
  padding: 0;
  height: 40px;
}

.list-group-item-first{
  border-top-left-radius: inherit !important;
  border-top-right-radius: inherit !important;
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
  
}
.list-group-item-last{
  border-bottom-right-radius: inherit !important;
  border-bottom-left-radius: inherit !important;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

/* Reduced motion styles */
@media (prefers-reduced-motion: reduce) {
  .current-reference,
  .list-group-item-text {
   // transition: none; /* Disable transitions */
    /* Or, apply simpler transitions, like opacity changes */
    /* transition: opacity 0.2s ease; */
  }
}