mux-player {
  --controls-backdrop-color: var( #538177);
  --seek-backward-button: none;
  --seek-forward-button: none;
}

/* Prevent .fullscreen styles on mobile */
@media (min-width: 768px) {
  #dato-video-player {
    aspect-ratio: 16 / 9;
  }
}
